# cache
__pycache__/
.ruff_cache/
.pytest_cache/

# environment variables
.env

# virtual environment
.venv

# data integrity
*.sqlite3
*.db
*.log

# macOS
.DS_Store

# Node
node_modules/

# cursor
.cursor/
